body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.title{
  font-weight: bold;
}

.container {
 /* border: 1px solid red; */
 display: flex;
 flex-direction: column;
 align-items: center;
}

.header{
  background-color: rgb(235, 107, 196);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
}

.header_left{
  display: flex;
  flex-direction: column;
}

.header_right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}

.chat{
  border-radius: 5px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);
  width: 26.5%;
}

.userData{
  border-radius: 5px;
  background-color: rgb(240, 235, 235);
  width: 70%;
  padding: 8px;
  margin: 0 10px 8px 10px;
}

.picture{
  padding-left: 10px;
}

.formatInput{
  background-color: rgb(240, 235, 235);
  padding: 10px;
  margin-top: 5px;
  width: 90%;
}

.userSynthesis{
  font-size: 11px;
  font-weight: 200;
  border-radius: 3px;
  background-color: rgb(235, 107, 196);
  width: 95%;
  padding: 8px;
  margin-top: 20px;
}

.sendData{
  justify-content: center;
}

.btnSend{
  border-radius: 5px;
  text-align: center;
  background-color: rgb(218, 60, 113);
  color: white;
  width: 80%;
  padding: 8px;
  margin: 0 10px 10px 10px;
}

.btnSend:hover{
  cursor: pointer;
  background-color: rgb(230, 29, 96);
}